@keyframes popTitulo{
  0%{
    transform: scale(0.8);
    opacity:0;
  }
  60%{
    transform: scale(1.05);
  }
  100%{
    transform: scale(1);
    opacity:1;
  }
}


@font-face {
  font-family: LeisolK;
  src: url("Leisoll Reef.otf");
}
@font-face {
  font-family: FaxK;
  src: url("Faxfont Fine Regular.otf");
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}


body {
  background-color: #e9dac2;   /* color de respaldo si la img falla */
  background-image: url("img/fondo3beige1122.png");
  background-repeat: no-repeat;
  background-size: contain ;      /* o contain si no querés que corte */
  background-position: center center;
  background-position: center top;
}

.decoracion {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}

.contenedor {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
   /*box-sizing: border-box;
 overflow: hidden;*/
}

.FLOR1, .FLOR2, .FLOR3, .FLOR4, .FLOR5, .FLOR6, .FLOR7 {
  position: absolute;
  width: 220px;
  height: auto;
  filter: drop-shadow(0 4px 6px rgba(0,0,0,0.15));
}

/* IZQUIERDA */
.FLOR1 {
  width: 230px;

  top: 0%;
  left: 0;
}

/* DERECHA CONTROLADA */
.FLOR2 {
  top: 17%;
  left:50%; /* en vez de left 53% */
}

/* IZQUIERDA ABAJO */
.FLOR3 {
  top: 39%;
  left: -28%;
  transform: scaleX(-1) rotate(5deg);
  width: 260px;
}

/* DERECHA */
.FLOR4 {
  top: 20%;
  left: 57%;
  transform: scaleX(-1) rotate(-90deg);
  width: 260px;
}

/* DERECHA */
.FLOR5 {
  top:39%;
  left: 69%;
  transform: scaleX(-1) rotate(-180deg);
  width: 260px;
}

/* IZQUIERDA */
.FLOR6 {
  top: 60%;
  left:-24%;
  transform: scaleX(1) rotate(195deg);
  width: 260px;
}

/* DERECHA */
.FLOR7 {
  top: 79%;
  right: 0;
  transform: scaleX(1) rotate(180deg);
  width: 260px;
}

/* CUADRO1 */
.CUADRO1 {
  width: 90%;
  max-width: 400px;
  background-image: linear-gradient(to bottom, transparent 85%, #efe1c7 100%), url("img/agus.png");
  border-radius: 10px;
  padding: 15px 20px;
  margin: 20px 0;
  border: 2px solid rgba(223, 211, 191,0.10);
  box-shadow: 0 0 20px rgba(205, 195, 177,0.3);
  text-align: center;
  
}

.TEXTO1 {
  margin: 0;
  font-family: FaxK;
  text-shadow: 0 1px 2px rgba(0,0,0,0.2), 0 2px 2px rgba(0,0,0,0.2);
  font-size: 20px; 
  animation: popTitulo 1s ease;
  margin: 4px 0 0 0; /* margen arriba de 10px para bajarlo */
}

.TITULO1 {
  margin: 0;
  font-family: LeisolK;
  font-size: 100px;
  font-weight: 200;
  background: linear-gradient(199deg,#000000,#f0cb7a,#171716,#f0cb7a,#000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 1px 2px rgba(0,0,0,0.3), 0 2px 6px rgba(0,0,0,0.4);
  animation: popTitulo 1s ease;
}

.TEXTO3{
  margin: 0;
  font-family: FaxK;
  text-shadow: 0 1px 2px rgba(0,0,0,0.2), 0 2px 2px rgba(0,0,0,0.2);
  font-size: 20px;
  transform: translateY(-10px); /* sube 5px */
  animation: popTitulo 1s ease;

}

/* ESPACIO1 */
.ESPACIO1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  padding: 10px 20px;
  text-align: center;
}

.TEXTO1ESPACIO1 {
  font-family: LeisolK;
  font-size: 45px;
  font-weight: 300;
  text-shadow: 0 1px 2px rgba(0,0,0,0.4), 0 2px 6px rgba(0,0,0,0.4);
  margin: 0;
}

/* Contador */
.contador {
  display: flex;
  justify-content: center;
  gap: 11px; /* espacio entre unidades */
  margin: 0 0 20px 0;
  background-image: linear-gradient(to bottom, transparent 85%, #efe1c7 100%), url("img/agus.png");
  box-shadow: 0 0 20px rgba(205, 195, 177,0.3);
  filter: drop-shadow(0 2px 4px rgb(60, 60, 60, 0.06));  border-radius: 10px;
  text-align: center;
  width:270px;
  padding: 9px 0; /* 20px arriba y abajo */
  

}

.unidad {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: 0 1px 2px rgba(0,0,0,0.4), 0 2px 6px rgba(0,0,0,0.3);
  align-items: center; /* centrado vertical */
}

#dias, #horas, #minutos, #segundos {
  font-size: 20px;
  font-family: FaxK;
  font-weight: 100;
  transform: translateX(5px); /* 2px a la derecha, poné negativo si querés a la izquierda */
 
}

.label {
  font-size: 13px;
  font-family: FaxK;
  text-transform: uppercase;
  color: #000; 
  text-shadow: 0 1px 2px rgba(0,0,0,0.1), 0 2px 2px rgba(0,0,0,0.1);
}

/* CUADRO2 */
.CUADRO2 {
  width:  105%;          
  max-width: 500px;    
  background-image: linear-gradient(to bottom, transparent 85%, #efe1c7 100%), url("img/agus.png");
  border-radius: 10px;
  padding: 10px 20px; 
  margin: 0px 0; /* menos espacio arriba y abajo */
  border: 2px solid rgba(223, 211, 191, 0.1);
  box-shadow: 0 0 20px rgba(205, 195, 177, 0.3);
  text-align: center;
}

.TEXTO1CUADRO2 {
  font-family: LeisolK;
  font-size: 45px;
  font-weight: 300;
  text-shadow: 0 1px 2px rgba(0,0,0,0.4), 0 2px 6px rgba(0,0,0,0.3);
  margin: 0 auto;
}

img.PINLOCATION {
  display: block;
  margin: 0 auto;
  width: 35px;
  height: auto;
filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.35));
}

.TEXTO2CUADRO2 {
  margin: 0 auto;
  padding: 0;
  font-family: FaxK;
  text-shadow: 0 1px 2px rgba(0,0,0,0.2), 0 2px 2px rgba(0,0,0,0.2);
  font-size: 21px; 
  font-weight: 200;
}

/* Botón como imagen */
.bord {
  display: block;
  margin: 5px auto;
  width: 120px;
  height: auto;
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.1));

  
}

/* ESPACIO2 para texto largo */
.ESPACIO2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  padding: 20px;
  text-align: center;
}

.TEXTO1ESPACIO2 {
  font-size: 14px;
  font-family: FaxK;
  text-transform: uppercase;
  color: #000; 
  text-shadow: 0 1px 2px rgba(0,0,0,0.4), 0 2px 6px rgba(0,0,0,0.3);
  margin: 0 auto;
  line-height: 1.9;
  word-wrap: break-word;
}

/* CUADRO3 */
.CUADRO3 {
  width:  105%;          
  max-width: 500px;      
  background-image: linear-gradient(to bottom, transparent 85%, #efe1c7 100%), url("img/agus.png");
  border-radius: 10px;
  padding: 10px 20px; 
  margin: 0 0 auto; /* menos espacio arriba y abajo */
  border: 2px solid rgba(223, 211, 191, 0.1);
  box-shadow: 0 0 20px rgba(205, 195, 177, 0.3);
  text-align: center;
}

.TEXTO1CUADRO3{
  font-family: LeisolK;
  font-size: 45px;
  font-weight: 300;
  text-shadow: 0 1px 2px rgba(0,0,0,0.4), 0 2px 6px rgba(0,0,0,0.3);
  margin: 0 auto;
}

.TEXTO2CUADRO3{
  margin: 0 auto;
  padding: 0;
  font-family: FaxK;
  text-shadow: 0 1px 2px rgba(0,0,0,0.2), 0 2px 2px rgba(0,0,0,0.2);
  font-size: 21px; 
  font-weight: 200;
}

img.CLOCKTIME{
  display: block;
  margin: 0 auto;
  width: 35px;
  height: auto;
filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.35));
}

.ESPACIO3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  padding: 20px;
  text-align: center;
}

.TEXTO1ESPACIO3{
  font-family: LeisolK;
  font-size: 45px;
  font-weight: 300;
  text-shadow: 0 1px 2px rgba(0,0,0,0.4), 0 2px 6px rgba(0,0,0,0.3);
  margin: 0 auto;
}

.TEXTO2ESPACIO3{
  margin: 0;
  font-family: FaxK;
  text-shadow: 0 1px 2px rgba(0,0,0,0.2), 0 2px 2px rgba(0,0,0,0.2);
  font-size: 20px; 
}

.TEXTO3ESPACIO3{
  margin: 0;
  font-family: FaxK;
  text-shadow: 0 1px 2px rgba(0,0,0,0.2), 0 2px 2px rgba(0,0,0,0.2);
  font-size: 20px; 
}

img.HEELSHOE{
  display: block;
  margin: 10px auto; /* 10px arriba y abajo, auto a los lados para centrar */
  width: 35px;
  height: auto;
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.35));
}

.CUADRO4{
  width:  105%;          
  max-width: 500px;      
  background-image: linear-gradient(to bottom, transparent 85%, #efe1c7 100%), url("img/agus.png");
  border-radius: 10px;
  padding: 10px 20px; 
  margin: 0px 0; /* menos espacio arriba y abajo */
  border: 2px solid rgba(223, 211, 191, 0.1);
  box-shadow: 0 0 20px rgba(205, 195, 177, 0.3);
  text-align: center;
}

.TEXTO1CUADRO4{
  font-family: LeisolK;
  font-size: 45px;
  font-weight: 300;
  text-shadow: 0 1px 2px rgba(0,0,0,0.4), 0 2px 6px rgba(0,0,0,0.3);
  margin: 0 auto;
}

.TEXTO2CUADRO4{
  margin: 0;
  font-family: FaxK;
  text-shadow: 0 1px 2px rgba(0,0,0,0.2), 0 2px 2px rgba(0,0,0,0.2);
  font-size: 20px; 
}

img.REGALOPRESENTE{
  display: block;
  margin: 10px auto; /* 10px arriba y abajo, auto a los lados para centrar */
  width: 35px;
  height: auto;
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.35));
}


.ESPACIO4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  padding: 20px;
  text-align: center;
}

.TEXTO1ESPACIO4{
  margin: 0;
  font-family: FaxK;
  text-shadow: 0 1px 2px rgba(0,0,0,0.4), 0 2px 6px rgba(0,0,0,0.3);
  font-size: 20px; 
}

img.CAMERASHOT{
  display: block;
  margin: 10px auto; /* 10px arriba y abajo, auto a los lados para centrar */
  width: 35px;
  height: auto;
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.35));
}
.BTNSUBIRFOTOS {
  display: block;
  margin: 5px auto;
  width: 125px;
  height: auto;
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.1));
}

.CUADRO5{
  width:  105%;          
  max-width: 500px;        
  background-image: linear-gradient(to bottom, transparent 85%, #efe1c7 100%), url("img/agus.png");
  border-radius: 10px;
  padding: 10px 20px; 
  margin: 0px 0; /* menos espacio arriba y abajo */
  border: 2px solid rgba(223, 211, 191, 0.1);
  box-shadow: 0 0 20px rgba(205, 195, 177, 0.3);
  text-align: center;
}

.TEXTO1CUADRO5{
  font-family: LeisolK;
  font-size: 35px;
  font-weight: 300;
  text-shadow: 0 1px 2px rgba(0,0,0,0.5), 0 2px 6px rgba(0,0,0,0.4);
  margin: 0 auto;
}

img.WPPSEND{
  display: block;
  margin: 10px auto; /* 10px arriba y abajo, auto a los lados para centrar */
  width: 35px;
  height: auto;
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.35));
}

.BTNCONFIRMAR{
  display: block;
  margin: 5px auto;
  width: 125px;
  height: auto;
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.1));
}

.BTNCONFIRMAR:hover, .BTNSUBIRFOTOS:hover, .bord:hover{
  transform: scale(1.06);
  filter:
    drop-shadow(0 2px 4px rgba(0,0,0,0.4))
    drop-shadow(0 0 12px rgba(201,168,106,0.7))
    drop-shadow(0 0 6px rgba(255,255,255,0.5));
}

.BTNCONFIRMAR:active, .BTNSUBIRFOTOS:active, .bord:active{
  transform: scale(0.95);
  filter:
    drop-shadow(0 1px 2px rgba(0,0,0,0.5));
}


.unidad span#dias::after,
.unidad span#horas::after,
.unidad span#minutos::after {
  content: ":";      /* agrega los dos puntos */
  margin-left: 10px;  /* opcional, un poquito de espacio sin tocar el layout */
}

